<center>
    <br>
<form action="/lastMonth" method="POST">
    <div>
        <label for="customer_id">ID del cliente:</label>
        <input type="text" class="idbox" id="customer_id" name="customer_id"/>
        <button type="submit" class="btn btn-danger">Consultar </button>
    </div>
</form>
<br>



</center>