<center>
    <br>
<form action="/lastMonth" method="POST">
    <div>
        <label for="customer_id">ID del cliente:</label>
        <input type="text" class="idbox" id="customer_id" name="customer_id"/>
        <button type="submit" class="btn btn-danger">Consultar </button>
    </div>
</form>
<br>

<h4>Lista de clientes:</h4>

    <table width=60%>
        <tr>
            <td>ID del cliente</td>
            <td>Nombre</td>
            <td>Email</td>
        </tr>
    </table>

</center>